.stack {
  text-align: center;
}

.details-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.item {
  max-width: 50%;
  max-height: 50vh;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.first {
  order: 0;
}
.last {
  order: 1;
}

.item img {
  max-height: 50vh;
}

.portfolio-item__links {
  padding: 10px 16px;
  width: 100vw;
  z-index: 100;
}

.portfolio-item__links a {
  margin-right: 1rem;
}

.portfolio-item__links {
  font-size: var(--fs-body);
  display: flex;
  justify-content: flex-end;
}

.portfolio-item__links a:hover {
  opacity: 0.7;
}

.sticky {
  position: fixed;
  top: 0;
}

/* items */
img {
  box-shadow: var(--bs);
}

.box {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-accent);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
