.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.box {
  position: absolute;
  top: 50%;
  width: 45%;
  height: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

.left img,
.right img {
  max-width: 100%;
  max-height: 100%;
}

.portfolio-item__links {
  padding: 10px 16px;
  width: 100vw;
  z-index: 100;
}

.portfolio-item__links a {
  margin-right: 1rem;
}

.portfolio-item__links {
  font-size: var(--fs-body);
  display: flex;
  justify-content: flex-end;
}

.portfolio-item__links a:hover {
  opacity: 0.7;
}

.sticky {
  position: fixed;
  top: 0;
}

/* items */
img {
  box-shadow: var(--bs);
}

.box {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-accent);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
